div {
    border: 1px dotted WHITE;   
}

img {
    width: 200px; }
body{background-color: black;}
h1{color: white;}
p{color: white;}
h2{color: white;}
img{
border:5px solid pink;
    margin: 9px;
    padding:5px;
}
img{
display:flex ;
}